@media only screen and (min-width: 700px) {
    header {
        font-size: 55px;
        margin: 0rem auto 0.5rem auto;
        
    }

    #selfportrait {
        width: 100%;
        height: auto;
    }  

    .week {
        font-size: 17px;
        padding: 0.7rem;
    }

    .assig {
        font-size: 17px;
        padding: 0.7rem;
    }

    #assigportal {
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        color: #6F9B68;
    }

    footer {
        padding-top: 1em;
        margin-top: 3rem;
    }
}