header, main {
    margin: 0rem auto auto auto; 
}

header {
    font-size: 50px;
    font-family: 'Fjalla One', sans-serif;
    color: #ffffff;
    background-color: #AA2244;
    text-align: center;
    margin: 0rem auto 0.5rem auto;
    padding: 0.1em;
    
}

#selfportrait {
    width: 32.5em;
    height: 11.5em;
}    

#assiglist, li {
    text-align: center;
}

ul {
    list-style: none;
}

#assigportal {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #6F9B68;
}

hr {
    border-style: none;
    width: 50%;
    height: 1px;
    background-color: #D86C87;
}

.week {
    color: #6F9B68;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem;
    margin: 0em 2em 0em 4em;

}

.assig {
    color: #AA2244;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    padding: 0.3rem;
    margin: 0em 3.5em 0em 2em;
    
}

a:hover {
    color: #D86C87;
}

footer {
    height: 50px;
    background-color: #AA2244;
    color: #ffffff;
    text-align: center;
    margin:  auto;
    max-width: 800px;
    padding-top: 1em;
}

.byuilink {
    color: #ffffff;
}
            
