@media only screen and (min-width: 200px) { 

    body {
        width: 100%;
    }

    header {
        font-family: 'Fjalla One', sans-serif;
        color: #ffffff;
        background-color: #AA2244;
        text-align: start;
        padding: 0.5em;
        
        
    }

    #targetAudience {
        font-size: 25px;
        padding: 0.1em;

    }

    nav {
        display: block;
        background-color:#D86C87;
        
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li a {
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
        color: #ffffff;
        font-size: 17px;
    }

    li {
        text-align: center;
        padding: 0.7em;
    }

    li:hover {
        background-color: #EA4871;
    }



    footer {
        height: 50px;
        background-color: #AA2244;
        color: #ffffff;
        text-align: center;
        margin-top: 2em;
        padding-top: 1em;
        
    }

    .byuilink {
        color: #ffffff;
    }

    .byuilink:hover {
        color: #EA4871
    }

}