@media only screen and (min-width:900px){

header {
    width: 100%;
}

nav {
    width: 100%;
}

nav ul li {
    font-size: 17px;
    padding-left: 0.9em;
}

.catchphrase {
    font-size: 17px;
}

main {
    text-align: center;
    margin: 0 auto;
}

.heroImage {
    margin-bottom: 1em;
}

.summaryAndPic {
    margin: 10px auto;
    width: 960px;
    height: 400px;
}

.fiveDayForecast {
    margin-top: 5.5em;
}

.article {
    width: 890px;
    margin: 0.5em auto;
}

.articleText {
    padding: 1em;
}

footer {
    width: 960px;
    margin: 3em auto 0em auto;
}


}