@media only screen and (min-width:740px){

    header {
        height: 150px;
        width: 100%;
    }
    
    h1 {
        font-size: 55px;
        margin-top: 0.7em;
        margin-bottom: 0.1em;
    }

    h2 {
        font-size: 40px;
    }
    
    #websiteLogo {
        width: 120px;
        height: 120px;
    }
    
    .catchphrase {
        font-size: 15px;
    }

    nav {
        height: 50px;
        width: 100%;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
    }
    
    nav ul li {
        font-size: 15px;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
    }
    
    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }

    .grid1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        text-align: center;
        margin: 1em;
    }

    .imageBlock {
        width: 350px;
        height: 280px;
        margin: 0.5em auto;
    }

    figcaption {
        font-size: 15px;
    }

    footer {
        margin-top: 2em;
        margin-bottom: 0;
    }

}