/*----------- HEADER ------------*/

header {
    display: flex;
    background-color: #04195E;
    height: 110px;
    justify-content: center;
    text-align: center;
    width: 100%;
    
}

h1 {
    color: #ffffff;
    font-family: 'Fjalla One', 'sans-serif';
    padding: 0em 0.5em 0em 0.5em;
    margin-bottom: 0;
    margin-top: 1em;;

}

.catchphrase {
    color: #F7D660;
    font-family: 'Roboto', 'sans-serif';
    font-size: 12px;
    margin: 0;
}

#websiteLogo {
    width: 80px;
    height: 80px;
    padding: 1em 0em 1em 2em;
}

/*---------------- NAVIGATION BAR --------------*/

#menu {
    font-size: 0.6em;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    margin: auto 38%;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #F7D660;
    width: 100%;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    display: block;
    padding: 0.8em 2%;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;
   
}

nav a:hover {
    color: #F7D660;
    background-color: #04195E;
}

nav ul.hide {
    display:none;
}

/*---------------- THANK YOU PAGE -------------------*/

.thankyou {
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    margin: 3em auto;
    padding: 1em;
    color: #04195E;
    text-align: center;
}

.thankyou2 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: black;
    font-weight: normal;
    text-align: center;
}

/*---------------- FOOTER -------------*/

footer {
    height: 50px;
    background-color: #04195E;
    color: #ffffff;
    text-align: center;
    padding-top: 1em;
    width: 100%;
    bottom: 0;
    position: fixed;
    
}

.byuilink {
    color: #ffffff;
}

.byuilink:hover {
    color: #F7D660
}

/*---------------------------------------------------------------------*/

@media only screen and (min-width:700px){
    /*-------------------- HEADER --------------------*/

    header {
        height: 150px;
        width: 100%;
    }
    
    h1 {
        font-size: 55px;
        margin-top: 0.7em;
        margin-bottom: 0.1em;
    }

    #websiteLogo {
        width: 120px;
        height: 120px;
    }
    
    .catchphrase {
        font-size: 15px;
    }

    /*--------------------- NAV BAR ----------------*/

    nav {
        height: 50px;
        width: 100%;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
    }
    
    nav ul li {
        font-size: 15px;
        flex: 1 1 100%;
    }

    nav ul li a {
        border: none;
    }
    
    nav button {
        display: none;
    }
    
    nav ul.hide {
        display: flex;
    }

    /*----------------- THANK YOU PAGE -----------------*/

    .thankyou {
        font-size: 30px;
        margin: 4em;
        padding: 2em;
    }
    
    .thankyou2 {
        font-size: 22px;
    }

    /*------------------ FOOTER --------------------*/

    footer {
        margin-top: 2em;
    }

}

    /*----------------------------------------------------------------*/

    @media only screen and (min-width:900px){

        nav ul li {
            font-size: 17px;
            padding-left: 0.9em;
        }
        
        .catchphrase {
            font-size: 17px;
        }
        
        .thankyou {
            font-size: 33px;
            padding: 2em;
        }
        
        .thankyou2 {
            font-size: 25px;
        }
        

}