 body{
     margin: 10em auto;
 }

 table {
    box-shadow: 10px 10px 16px 0px #6d89a8;
    -webkit-box-shadow: 10px 10px 16px 0px #6d89a8;
    -moz-box-shadow: 10px 10px 16px 0px #6d89a8;
}

th {
    width: 380px;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    font-weight: bold;
    background-color: #7fb9c2;
    padding: 0.2em 0.5em;
}

td {
    padding: 0.16em 0.35em;
}

table, td {
    border: 2px solid #c1c3c2;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    text-align: center;
    height: 40px;
    width: 380px;  
}

.firstRow {
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    background-color: #628ca6;
}

tbody {
    font-size: 19px;
}

.period {
    width: 36%;
}

.sales {
    width: 24%;
}

.gray {
    background-color: #e7f0ed;
}

.green {
    background-color: #e7ffed;
}

.november {
    color: #ffffff;
    background-color: #628ca6;
}

tfoot {
    background-color: #7fb9c2;
    font-size: 15px;
    height: 38px;
}