 body{
     margin: 10em auto;
 }

 table {
    box-shadow: 10px 10px 16px 0px #6d89a8;
    -webkit-box-shadow: 10px 10px 16px 0px #6d89a8;
    -moz-box-shadow: 10px 10px 16px 0px #6d89a8;
}

thead td {
    width: 380px;
    height: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 900;
    background-color: #7fb9c2;
    padding: 0.2em 0.5em;
}

.period-goals {
    width: 37%;
}

td, th {
    padding: 0.16em 0.35em;
}

table, td {
    border: 2px solid #c1c3c2;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    text-align: center;
    height: 38px;
    width: 350px;  
}

th {
    border: 2px solid #c1c3c2;
    height: 38px;
    font-weight: bold;
    font-size: 18px;
    color: #ffffff; 
    background-color: #628ca6;
}

tbody {
    font-size: 19px;
}

tr:nth-child(odd) {
    background-color: #E7FFED;
}

tbody tr {
    background-color: #E7F0ED;
}

tfoot td{
    background-color: #7fb9c2;
    font-size: 15px;
    height: 38px;
}