@media only screen and (min-width: 800px) {

    body {
    max-width: 850px;
    margin: 0rem auto 0.5rem auto;
}

nav .homeNav {
    padding-left: 72px;
}

nav .targetNav {
        
    padding-left: 110px;
    padding-top: 1.5em;
}

nav .colorNav {

    padding-left: 100px;
    padding-top: 1.5em;
}

nav .typoNav {
    padding-left: 100px;
    padding-top: 1.5em;
}

#colorpalette {
    margin: 1.5em;
}

}