@media only screen and (min-width: 730px) {

    body {
        width: 100%;
    }

    .pageTitle {
        font-size: 40px;
        padding: 0.5em;

    }

    .myName {
        font-size: 35px;
        padding: 0.5em;
    }

    nav {
        height: 80px;   
    }

    ul {
        display: flex;
    }

    li a {
        font-size: 27px;
        padding: 0.5em;
    }

    nav .homeNav {
        
        padding-left: 50px;
        padding-top: 1.5em;
    }

    nav .targetNav {
        
        padding-left: 95px;
        padding-top: 1.5em;
    }

    nav .colorNav {
        
        padding-left: 85px;
        padding-top: 1.5em;
    }

    nav .typoNav {
        padding-left: 80px;
        padding-top: 1.5em;;
    }

    h1 {
        font-size: 32px;
    }

    p {
        font-size: 27px;
    }

    #siteLogo {
        width: 25%;
        height: 25%;
    }

    nav a:hover {
        background-color: #77B3D4;
    }

}