@media only screen and (min-width: 200px) { 

    body {
        width: 100%;
    }

    header {
        font-family: 'Fjalla One', sans-serif;
        color: #ffffff;
        background-color: #04195E;
        text-align: start;
        padding: 0.5em;
        
        
    }

    .pageTitle {
        font-size: 25px;
        padding: 0.1em;

    }

    .myName {
        font-size: 20px;
        padding: 0.1em;
    }

    nav {
        display: block;
        background-color:#F7D660;
        
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li a {
        text-decoration: none;
        font-family: 'Fjalla One', sans-serif;
        color: #04195E;
        font-size: 17px;
    }

    li {
        text-align: center;
        padding: 0.7em;
    }

    nav a:hover {
        background-color: #EA4871;
    }

    section {
        padding: 0.7em;
    }

    h1 {
        color: #04195E;
        font-family: 'Fjalla One', sans-serif;
        font-size: 22px;
    }

    hr {
        border-style: none;
        width: 60%;
        height: 1px;
        background-color: #F7D660;
        text-align: left;
        margin-left: 0;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
    }

    #siteLogo {
        width: 20%;
        height: 20%;
    }


    footer {
        height: 50px;
        background-color: #04195E;
        color: #ffffff;
        text-align: center;
        margin-top: 2em;
        padding-top: 1em;
        
    }

    .byuilink {
        color: #ffffff;
    }

    .byuilink:hover {
        color: #F7D660
    }
}