body{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: #6B0B12;
}

h1, h2{
	font-family: 'Fjalla One', sans-serif;
}
h1{
    font-size: 40px;
    padding: 5px;
    color: #fff;
    font-weight: normal;
    
}

h2{
    font-size: 35px;
    color: #6B0B12;
	margin: 9px 0px;
}
main div {
	display: grid;
	grid-template-columns: 1fr;
	width: 95%;
	margin: auto;
	grid-gap: 15px;
}

main div section {
	background-color: #fff;
	color: #6B0B12;
	padding: 10px;
}

main div section img{
	width: 60%;
}

main div section p{
	margin: 10px 0px;
}

footer {
    background-color: #fff;
    height: 40px;
	color: #6B0B12;
	padding-top: 20px;
	margin-top: 30px;
}

/*--------------- MEDIUM ----------------- */
@media only screen and (min-width: 700px){
	main div{
		grid-template-columns: 1fr 1fr;
	}
}

/*-------------- LARGE --------------- */
@media only screen and (min-width: 1000px){
	main div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    h1 {
        font-size: 45px;
    }
}