@media only screen and (min-width:700px){

    /* ----------------- HEADER ------------- */
    
    .mainHeader {
        display: flex;
    }
    
    .hide {
        display: flex;
        position: absolute;
        right: 0;
        padding-left: 0;
        width: 70%;
        margin: 1.5em 1em;
    }

    .navbarItem {
        width: 33.33%;
    }

    nav button {
        display: none;
    }

    nav ul a:hover {
        color: #ffffff;
    }

    /* ------------------- HOME MAIN --------------- */

    /* Section 1 */

    .mainTitle, .mainTitle2, .mainTitle3, .mainTitle4 {
        margin-top: 3em;
        font-size: 40px;
        height: 70px;
        padding-bottom: 0;
        padding-top: 20px;
    }

    .mainTitle {
        width: 300px;
    }

    #mainAdv {
        display: inline;
        margin-left: 10px;
    }

    .weather {
        width: 280px;
        height: 347px;
    }

    h3.whiteH3 {
        margin: 1.5em 1em 0.1em 1.5em;
        font-size: 30px;

    }

    .summaryP {
        margin: 1.3em 1em 0.2em 1em;
        font-size: 25px;
    }

    /* Section 2 */

    .activities {
        width: 600px;
        margin: 3em auto;
        padding-bottom: 1em;
    }

    .mainH4 {
        font-size: 35px;
    }

    .guideH4 {
        font-size: 25px;
    }

    /* section 3 */

    .callToAction {
        font-size: 50px;
        margin-bottom: 0;
        padding: 1em;
    }

    .clickHere {
        font-size: 25px;
        padding: 0.5em 0.7em;
        border-radius: 6px;
    }

    /* --------------- GUIDES PAGE ---------------*/

    .mainTitle2 {
        width: 300px;
    }

    .guide-card {
        width: 700px;
        padding: 1em 0;
    }

    .guideP {
        font-size: 25px;
        padding: 0.5em 1.5em;
    }

    /* --------------- FORM PAGES --------------- */

    /* Section 1 */

    .mainTitle3 {
        width: 380px;
    }

    /* FORM */

    form fieldset {
        margin: 1em auto;
        width: 30rem;
    }

    form legend {
        font-size: 30px;
    }

    form label.top, form div, form label.severity {
        font-size: 25px;
    }

    form label.top input, form label.top select {
        max-width: 28rem;
    }

    form input.submit-buttom {
        padding: 1rem 1.5rem;
    }

    /* ---------------- THANK YOU PAGE -------------- */

    .thankyouMsg {
    padding: 1em;
    width: 70%;
    margin: 5em auto;
    }

    .thankyouH1 {
        font-size: 35px;
    }

    .thankyouP {
        font-size: 25px;
    }

    /* ------------------- RESERVATION --------------- */
    
    .Pflex {
        font-size: 22px;
    }

    .activitiesP1 {
        width: 50%;
        padding-right: 0.7em;
    }
    
    .activitiesP2 {
        width: 50%;
        padding-left: 0.7em;
    }

    main ul {
        margin: 1em 25% 1em 35%;
    }
    
    main ul li {
        font-size: 22px;
    }

    /* -------------------- FOOTER --------------------- */

    .contactFooter {
        text-align: center;
    }

    .contactInfo {
        display: flex;
        margin: 1em auto;    
    }

    .salmonR {
        font-size: 22px;
     }

     .contactText {
        margin: 2em 10% 1em 10%;
     }

     .copyright {
        font-size: 14px;
     }

}
