body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'sans-serif';
}

/* -------------- HEADER -------------- */

.mainHeader {
    background-color: #161925;
    width: 100%;
}
.websiteTitle {
    display: flex;
    width: 300px;
    margin-right: 0;
}

.websiteTitle img {
    width: 60px;
    padding: 1em 0.7em 1em 1em;
}

.mainHeader h2, .navbarItem {
    color: #f7f7f2;;
}

.headerAdv {
    color: #f7f7f2;
}

.mainHeader li {
    list-style: none;
    
}

.navbarList {
    margin-bottom: 0;
}

.mainHeader a {
    text-decoration: none;
    font-family: 'Roboto Condensed', 'sans-serif';
}

.hide {
    display: none;
}

nav button {
    background-color: transparent;
    border: none;
    font-size: 1em;
    margin: auto 39%;
    padding: 0.5em;
    font-weight: lighter;
    font-family: 'Roboto Condensed', sans-serif;
}

#menu {
    color: #f7f7f2;
}

nav ul li a {
    display: block;
    padding: 0.8em 2%;
    color: #37b7b3;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    text-align: start;
    margin-left: 29%;
}

nav ul li a:hover {
    color: #f7f7f2;
}

.active {
    color: #f7f7f2;
}

/* ---------------- HOME MAIN ---------------*/

/* Section 1*/

section {
    width: 100%;
}

.imgTitleWeather {
    position: relative;
}

section img {
    width: 100%;
}

.sectionTitleText {
    display: flex;
    color: #fff;  
}

.mainTitle, .mainTitle2 {
    padding: 0.5em 1em 0 1em;
    position: absolute;
    margin-top: 2em;
    margin-right: 1em;
    background-color: #00bbd47c;
    font-size: 20px;
}

.mainTitle {
    height: 60px;
}

.mainTitle2 {
    height: 30px;
}

#mainAdv {
    display: block;
}

.weather {
    background-color: #37b7b37c;
    position: absolute;
    justify-content: end;
    right: 0;
    height: 155px;
    margin-right: 0;
    margin-left: auto;
}

h3.whiteH3 {
    margin: 0.5em 1em 0.1em 1em;
}

.summaryP {
    margin: 0.2em 1em 0.2em 1em;
    font-family: 'Roboto Condensed', 'sans-serif';
    text-align: center;
}

/* Section 2 */

.activities-section {
    text-align: center;
}

.availableAct {
    text-align: center;
    font-size: 26px;
}

.activities {
    width: 320px;
    text-align: center;
    margin: 2em auto;
    background-color: #00bcd4;
}

.activitiesImg {
    width: 100%;
}

.activitiesH4 {
    font-size: 24px;
    margin-bottom: 0;
}

hr {
    border-style: none;
    width: 50%;
    height: 1px;
    background-color: #1619254e;
}

.guideH4 {
    color: #fff;
    margin-bottom: 0;
}

.Pflex {
    display: flex;
    width: 80%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    margin: 0 auto 1em auto;
    padding: 0.7em 0.7em 0.7em 1.5em;
    color: #f7f7f2;
}

.activitiesP1 {
    padding-right: 0.5em;
    text-align: end;
}

.activitiesP2 {
    text-align: start;
    padding-left: 0.5em;
}

/* Section 3 */

.calltoActSec {
    background-color: #161925;
    width: 100%;
    height: 280px;
    text-align: center;
}

.callToAction {
    color: #f7f7f2;
    font-size: 35px;
    padding: 1em 1em 0.5em 1em;
}

.clickHere {
    color: #ffffff;
    background-color: #00bcd4;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5em 0.7em;
    border-radius: 6px;
}


/* ---------------- FOOTER -------------------*/

 footer {
    width: 100%;
 }

 .contactFooter {
    margin: 2em auto 0 auto;
    background-color: #68d8d6;
    text-align: center;
    justify-content: center;
 }

 .contactText {
    font-family: 'Nunito Sans', sans-serif;
    color: #161925;
    padding: 1em;
 }

 .salmonR {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
 }

 .locationIcon {
    width: 20px;
 }

 .socialMedia {
    width: 40px;
 }

 .map {
     padding: 1em;
 }

 .copyright {
    text-align: center;
    color: #f7f7f2;
    background-color: #161925;
    padding: 1em 0;
    font-size: 12px;
 }

 .whiteLink {
     color: #f7f7f2;
 }

